/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

nav a {
	text-decoration: none;
	color: black;
}


section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin-top: 100px;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.filter-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.filter-buttons button {
	font-family: 'Syne';
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	border: 1px solid #1D6154;
	border-radius: 30px;
	padding: 10px;
	margin: 10px;
}

.filter-buttons :hover {
	background-color: #1D6154;
	color: white;
}

body {
	background-color: #FFFEF8;
}

/* Login */

#login-li a {
	text-decoration-line: none;
	color: black;
}

#login-li a :active {
	font-weight: 800;

}

.login {
	margin-bottom: 30%;
	padding-top: 80px;
}
.login h2 {
	display: block;
	display: flex;
	justify-content: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100% ;
	padding-top: 50px;
}

.email-div, .password-div {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-bottom: 40px;
	color: #3D3D3D;

}

.login-form input {
	height: 50px;
	border: none;
	background-color: #FFFFFF;
	box-shadow: 6px 6px 6px #00000017;
}

#submit-button {
	height: 35px;
	padding: 10px;
}

.login p {
	display: flex;
	justify-content: center;
	text-decoration: underline;
	color: #3D3D3D;
}


#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

footer li {
	font-weight: 300;
	color: #3D3D3D;
	font-size: 14px;
}

/* Mode édition */

 .edition-mode-bar {
	position: fixed;
	width: 100vw;
	left: 0;
	top: 0;
	height: 50px;
	background-color: black;
	display: flex;
	align-content: center;
	padding: 0;
	
}

.edition-mode-bar a {
	color: #FFFFFF;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
    gap: 10px;

}

.projects {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-bottom: 30px;

}

.projects button {
	background-color: #FFFFFF;
	border: none;
}

.projects i {
	margin-right: 10px;
}

.projects a {
	text-decoration: none;
	color: black;
}


/***Modal*****/


.js-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

#modal1 {
    width: 40%;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    margin: 300px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
	

}

#modal1 #add-work-picture {
    background-color: #1D6154;
    color: white;
    font-family:'Syne';
    font-size: 14px;
    margin: 20px;
	width: 90%;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
}
#modal1 h2 {
    color: black;
	font-family: 'Work Sans';
	font-size: 20px;
	font-weight: 200;
	padding: 20px;
	display: flex;
	justify-content: center;
}
.modal-gallery {
    border-bottom: #eed4d4 solid 2px;
	padding: 30px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
	gap: 10px;
	
}

.modal-gallery figure {
    width: 15%; 
    display: flex;
    flex-direction: column;
    

}
	
.modal-gallery img {
	width: 100%;
    height: auto;
    object-fit: contain;
    height: auto; 
    display: block;
}


.modal-gallery figcaption {
	display: none;
}


.modal-gallery .image-container {
    position: relative; 
    display: inline-block;

}

.modal-gallery .delete-icon {
	position: absolute;
    cursor: pointer;
	top: 6px;
	right: 4px; 
    background-color: black;
	color: white;
    border-radius: 2px;
    padding: 3px;
	font-size: 8px ;

}

#close-modal  {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: none;
    background-color: white;
	font-size: 18px;
	cursor: pointer;
}

/*******************AJOUT WORK********************/

#modal2 {
	width: 40%;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 45px;
    margin: 300px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
	justify-content: center;
    align-items: center;
	position: relative;
}


#close-upload-modal {
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
	position: absolute;
}

#return-button {
    top: 10px;
    left: 10px;
    background: transparent;
	position: absolute;
    border: none;
    cursor: pointer;
}

.form-container {
	border-bottom: 1px solid #B3B3B3 ;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 30px;
}
.form-container  h2 {
	color: black;
	font-family: 'Work Sans';
	font-size: 20px;
	font-weight: 200;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

 #upload-pic-input {
	display: none;
	justify-content: center;
	z-index: 1;
	opacity: 0;
	
}

#upload-container {
	background-color: #E8F1F6 ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;

}
#upload-container p {
	z-index: 0;
	color: black;
	padding-bottom: 15px;
	max-height: 100px;
}

#upload-container i {
	font-size: 76px;
	margin: 20px;;
}

#add-pic-btn {
	width: 50%;
	background-color: #CBD6DC;
	color: #306685;
	font-family: 'Work Sans';
	font-size: 14px;
	border-radius: 25px;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	cursor: pointer;
	z-index: 0;
	display: flex;
	justify-content: center;
}

#add-pic-btn:hover {
	box-shadow: 2px 2px 6px #00000017;
}

#input-title, #category-select {
	border: none;
	box-shadow: 1px 1px 5px #00000017;
	height: 40px;
}

#submit-work-btn {
	max-width: 300px;
	background-color: #A7A7A7;
	color: white;
	font-family: 'Syne';
	padding: 10px 50px 10px 50px;
	margin: 20px auto;
	border-radius: 30px;
	border: none;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

#submit-work-btn:hover {
	background-color: #1D6154 ;
}

#category-select {
	width: 100%;
    padding: 10px;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
}

#category-select option {
	font-family: 'Work Sans';
	font-size: 14px;
}


#preview-container {
	display: none;
	width: 100%;
	max-height: 200px;
	display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

#preview-pic {
	max-width: 50%;
	max-height: 100%;
	object-fit: contain;
}